@import "../node_modules/bulma/sass/utilities/_all.sass";

.brand {
    color: $grey;
}

.isActive {
    font-weight: bold;
}

.footer {
    text-align: center;
    font-size: $size-7;
    color: $grey-light;
    padding: 1rem 0rem;
    a {
        color: $grey-light;
    }
}