@import "../node_modules/bulma/sass/utilities/_all.sass";

.title {
  font-size: 2.5rem !important;
}
.subtitle {
  color: $grey !important;
}

@media (min-width: 361px) {
  .title {
    font-size: 3rem !important;
  }
}

@media (min-width: $tablet) {
  .title {
    font-size: 8rem !important;
  }
  .subtitle {
    font-size: 2rem !important;
  }
}

.byline {
  margin: 2rem 0rem;
}

.read a {
  color: $white;
}